#allinput
	{
		background-image:linear-gradient(to left,#3333ff,#6666ff);
		margin-top:25px;
		padding-bottom:50px;
		border-radius:15px;
	}
.feilds
	{
		color:#00004d;
		font-family:ubuntu;
		font-size:20px;
		padding-top:10px;
	}
::placeholder
	{
		color:#f2f2f2;
		text-align: center;
		font-size:15px;
	}
input:focus, textarea:focus, select:focus
	{
		outline:none;
		color:white;
		font-size:15px;
		text-align: center;
	}
#in1,#in2,#in3,#in4,#in5,#in10,#in12
	{
		width:50%;
		height:30px;
		margin-top:20px;
		border-radius:1px;
		background-color:inherit;
		border-bottom:3px solid white!important;
		border:none;
		color:white;
		font-size: 15px;
		text-align:center;
	}
#in6,#in7
	{
		font-size:10px;
		width:10%;
		height:15px;
		margin-top:20px;
		border-radius:1px;
		background-color:inherit;
		border-bottom:3px solid white!important;
		border:none;
	}
textarea
	{
		width:50%;
		height:100px;
		margin-top:20px;
		border-radius:1px;
		background-color:inherit;
		border-bottom:3px solid white!important;
		border:none;
		color:white;
		font-size: 15px;
		text-align: center;

	}
select
{
	color:white;
	width:50%;
	height:30px;
	margin-top:20px;
	border-radius:1px;
	background-color:inherit;
	border-bottom:3px solid white!important;
	border:none;
	font-size:15px;
}
select option{

	color:Black;
	width:50%;
	height:30px;
	margin-top:20px;
	border-radius:1px;
	background-color:inherit;
	border-bottom:3px solid white!important;
	border:none;
	font-size:15px;
}
#formStoryButton
	{
		border:none;
		color:white;
		background-color:#3333ff;
		font-size:15px;
		height: 50px;
		width:40%;
		border-radius:5px;
		font-weight:600;
		cursor: pointer;
		padding:2px;
		margin-top:50px;

	}
#formStoryButton:hover
	{
		border:2px solid #3333ff;
		color:#3333ff;
		background-color:inherit;
	}
#storyHead
{
	font-size:50px;
	font-family: arial;
	font-weight: 600;

}
#storyAreaHead
	{
		font-size:22px;
		font-family: arial;
		margin-bottom: 10px;
	}
#storyArea
	{
		padding:20px;

		padding-top: 0px;

	}
.allhead
	{
		background-image: linear-gradient(to right,#cccccc, #f2f2f2);
		padding:10px;
		margin:20px;
		border-radius:15px;
	}
.foot
	{
		color:#3333ff;
		font-family:ubuntu;
	}
#storyscript
	{
		padding:30px;
		font-family:ubuntu;
	}
#scripthead
	{
		font-size:25px;
		color:#00004d;
	}
#scriptcontent
	{
		color:#3333ff;
	}
#new, a #old
	{
		border:none;
		color:white;
		background-color:#3333ff;
		font-size:15px;
		height: 60px;
		width:40%;
		border-radius:5px;
		font-weight:600;
		cursor: pointer;
		padding:2px;
		margin:5px;
		text-decoration:none;
	}
#new:hover,#old:hover
	{
		border:2px solid #3333ff;
		color:#3333ff;
		background-color:inherit;
	}
